.about {
    padding: 60px 0;
}

.aboutRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.aboutContent {

}

.aboutItem {

}

.aboutIcons {
    height: 100%;
    width: 100%;
}

.aboutIconBack {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}